@use "./variable.scss" as*;

*{
    margin: 0;
    padding: 0;
    background-color: rgba(43, 42, 51, 1);
    font-family: $primary-font;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 5% 5%;
    a{
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
    }
}
.buttons{
    color: white;
    padding: 10px 15px;
    border-radius: 15%;
    border: none;
    background-image: linear-gradient(180deg, #e1a0a0, #e58181);
    box-shadow: 0 10px 40px #6b3838;
}
.buttons:hover{
    background-image: linear-gradient(180deg, #e2c1c1, #ea8282);
}
h1{
    text-align: center;
    margin-top: 15%;
    margin-bottom: 10%;
    color: white;
}
p{
    text-align: center;
    color: rgba(108, 106, 124, 1);
    display: none;
}
#input__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    .input-label{
        color: white;
        position: absolute;
    }
    #addButton{
    display: none;
    position: absolute;
    right: 21.67%;
    padding: 5px;  
    margin: 10px;  
    background: #E68181;
    border: none;
    border-radius: 20%;
    }
}
#user__textBox{
    border-style: dashed;
    color: white;
    padding: 10px;
    margin: 10px;
    width: 60%;
}
#users__tasks{
    color: white;
    display: flex;
    justify-content: flex-start;
    margin-left: 18%;
    background-color: #6C6A7C;
    height: 200px;
    margin: 0 18%;
    flex-direction: column;
    display: none;
}

